<nav class="navbar navbar-light bg-light mx-auto">
    <!-- <a class="navbar-brand" href="#">Destintion</a> -->
    <div class="mx-auto order-0">
        <!-- <a class="navbar-brand mx-auto" href="#">Navbar 2</a> -->
        <p class="navbar-brand mx-auto">
            Destintion
        </p>
    </div>
       
    
</nav>
<body style="background: #303030;font-family: 'Public Sans', sans-serif;height: 780px;">
    <div class="container">
        <section class="position-relative py-4 py-xl-5">
            <div class="container">
                
                <div class="row d-flex justify-content-center" style="margin-top: 37px;">
                    <div class="col-md-6 col-xl-4" style="margin-top: -31px;">
                        <div class="card mb-5" style="border-style: none;">
                            <div class="card-body d-flex flex-column align-items-center" style="background: #303030;">
                                <div class="d-flex form-inputs mb-3">
                                    <input class="form-control" type="text" placeholder="Search here">
                                    <i class="bx bx-search"></i>
                                </div>
                                 <div class="card mb-3">
                                    <img class="card-img" src="https://cdn.discordapp.com/attachments/1045596872355631214/1067746683217248366/istockphoto-1279773003-612x612.jpeg" alt="Bologna">
                                   <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                                     <p class="card-text">Auckland Park </p>
                                   </div>
                                 </div>

                                  <div class="card mb-3">
                                    <img class="card-img" src="https://cdn.discordapp.com/attachments/1045596872355631214/1067746683217248366/istockphoto-1279773003-612x612.jpeg" alt="Bologna">
                                   <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                                     <p class="card-text">Auckland Park </p>
                                   </div>
                                 </div>

                                  <div class="card mb-3">
                                    <img class="card-img" src="https://cdn.discordapp.com/attachments/1045596872355631214/1067746683217248366/istockphoto-1279773003-612x612.jpeg" alt="Bologna">
                                   <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                                     <p class="card-text">Auckland Park </p>
                                   </div>
                                 </div>

                                  <div class="card mb-3">
                                    <img class="card-img" src="https://cdn.discordapp.com/attachments/1045596872355631214/1067746683217248366/istockphoto-1279773003-612x612.jpeg" alt="Bologna">
                                   <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                                     <p class="card-text">Auckland Park </p>
                                   </div>
                                 </div>

                                  <div class="card mb-3">
                                    <img class="card-img" src="https://cdn.discordapp.com/attachments/1045596872355631214/1067746683217248366/istockphoto-1279773003-612x612.jpeg" alt="Bologna">
                                   <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                                   </div>
                                 </div>
                               
                                  
                                 
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
   
</body>
<footer class="bg-light text-center text-lg-start">
  
    <div class="container p-4">
     
      
     
    </div>
 
  
   
  </footer>
