<nav class="navbar navbar-light bg-light mx-auto">
    <!-- <a class="navbar-brand" href="#">Destintion</a> -->
    <div class="mx-auto order-0">
        <!-- <a class="navbar-brand mx-auto" href="#">Navbar 2</a> -->
        <p class="navbar-brand mx-auto">
            Destintion
        </p>
    </div>
       
    
</nav>
<body style="background: #303030;font-family: 'Public Sans', sans-serif;height: 780px;">
    <div class="container">
        <section class="position-relative py-4 py-xl-5">
            <div class="container">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 md-3">
                      <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">My Balance</h5>
                            <!-- <i class="bi bi-wallet"></i> -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
                              <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
                            </svg>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 md-3">
                      <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">My Balance</h5>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
                            <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                </div>
                
                
            </div>
        </section>
    </div>
   
</body>
<footer class="bg-light text-center text-lg-start">
  
    <div class="container p-4">
      
    </div>
</footer>
