<body id="page-top" >
    <div id="wrapper">

<!--navbar side-->
<app-sidemenu></app-sidemenu>
      <!---side bar -->


        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background-color: #303030;">
<app-topnav></app-topnav>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0" style="font-size: 15px;color: rgb(255,255,255);">Complaint</h3>
          <!-----passenger category-->
          <app-filter></app-filter>
          <!-------------------------->
    </div>
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0" style="font-size: 15px;color: rgb(255,255,255);">Weekly</h3> 
       
    </div>
    <div class="row" >

    </div>
    <h3 class="mb-0" style="font-size: 15px;color: rgb(255,255,255);">Complaint List</h3>

    <!-- <div   class="col-md-6 col-xl-3 mb-4" *ngFor="let c of complains">
        <div   class="card shadow-lg border-start-primary py-2" style="background: #444141;border-style: none; "  *ngIf="c.times <='7'">
            <div   class="card-body">
                <div  class="row align-items-center no-gutters">
                    <div  class="col me-2"  >
                        <div class="text-primary fw-bold text-xs mb-1"><span class="text-capitalize" style="color: rgb(246,152,4);font-size: 15px;"><i class="fas fa-user-alt" style="color: rgb(245,151,6);">&#20;&#20;</i>{{c.fullname}}</span>
                        </div>
                        <div><span class="text-capitalize" style="color: rgb(243, 241, 238);font-size: 15px;"><i style="color: rgb(245,151,6);"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                          </svg>&#20;&#20;</i>{{c.complains}}</span>
                        </div>
                        <div><span class="text-capitalize" style="color: rgb(248, 246, 243);font-size: 15px;"><i style="color: rgb(245,151,6);"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-event" viewBox="0 0 16 16">
                                <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                            </svg>&#20;&#20;</i>{{c.times| date:'yyyy-MM-dd  &#20;&#20; hh:ss'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div> 

</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
</div>
   
</body>
