.card-bodyOne{
    opacity:2;
    background-blend-mode:darken;
    height:100px;
    width: auto;
    background-color: #454545;
}
.last{
    margin-left: 15px;
    margin-right: 15px;
    border:15px;
   


}

