
<div class="px-2  md:px-10 lg:px-14">
 <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>user_id</th>
          <th>companyname</th>
          <th>companylogo</th>
          <th>companycontact</th>
          <th>companyemail</th>
          <th>companyaccount</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr>
          <td>{{id}}}</td>
          <td>{{userid}}</td>
          <td>{{companyname}}</td>
          <td>{{companylogo}}</td>
          <td>{{companycontact}}</td>
          <td>{{companyemail}}</td>
          <td>{{companyaccount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


