<!-- 

<div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>user_id</th>
          <th>companyname</th>
          <th>companylogo</th>
          <th>companycontact</th>
          <th>companyemail</th>
          <th>companyaccount</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let company of getCompanydetails">
          <td>{{company.id}}</td>
          <td>{{company.user_id}}</td>
          <td>{{company.companyname}}</td>
          <td>{{company.companylogo}}</td>
          <td>{{company.companycontact}}</td>
          <td>{{company.comapnyemail}}</td>
          <td>{{company.comapnyaccount}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->

