


   <br>

   <div class="row text-right" style="font-size: 14px">
    <div class="col-md-4">
      <p>id : </p>
      <p>user_id:</p>
      <p>companyname:</p>
      <p>companylogo:</p>
      <p>company contact:</p>
      <p>company email:</p>
      <p>company account:</p>
    </div>
    <div class="col-md-4">
      <p>{{id}}</p>
      <p>{{userid}}</p>
      <p>{{companyname}}</p>
      <p>{{companylogo}}</p>
      <p>{{companycontact}}</p>
      <p>{{companyemail}}</p>
      <p>{{companyaccount}}</p>
  </div>
</div>

      



        
       
       
    

       
         



