
<body id="page-top" style="font-family: 'Public Sans', sans-serif;">
    <div id="wrapper">
      <!--navbar side-->
<app-sidemenu></app-sidemenu>
      <!---side bar -->
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background-color: #303030;">
                <!---top-->
        <app-topnav></app-topnav>
              <!---top-->
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="mb-0" style="font-size: 20px;color: rgb(255,255,255);">Dashboard</h3><a class="btn btn-sm d-none d-sm-inline-block" role="button" href="#" style="background: rgb(246,152,4);color: rgb(255,255,255);"><i class="fas fa-download fa-sm text-white-50"></i>Report</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow-lg border-start-primary py-2" style="background: #444141;border-style: none;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-capitalize" style="color: rgb(246,152,4);font-size: 15px;">Master wallet</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span style="color: rgb(255,255,255);font-size: 13px;">0</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-wallet fa-2x text-gray-300" style="font-size: 20px;"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow-lg border-start-primary py-2" style="background: #444141;border-style: none;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-capitalize" style="color: rgb(246,152,4);font-size: 15px;">Active Passengers</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span style="color: rgb(255,255,255);font-size: 13px;">{{active.count}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300" style="font-size: 20px;"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow-lg border-start-primary py-2" style="background: #444141;border-style: none;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                                <span class="text-capitalize" style="color: rgb(246,152,4);font-size: 15px;">Suspended Passengers</span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span style="color: rgb(255,255,255);font-size: 13px;">{{suspended.count}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-user-times fa-2x text-gray-300" style="font-size: 20px;"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow-lg border-start-primary py-2" style="background: #444141;border-style: none;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-capitalize" style="color: rgb(246,152,4);font-size: 15px;">Token Bought</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span style="color: rgb(255,255,255);font-size: 13px;">0</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-wallet fa-2x text-gray-300" style="font-size: 20px;"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
   
</body>
