.card-body{
    opacity:2;
    background-blend-mode:darken;
    background-color: #454545;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.form-check{
    margin-left: 1000px;
    margin-bottom: 15px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}



