.btn{

    background: rgb(68, 65, 65);
    font-size: 13px;
    color: rgb(246,152,4);
 
   
    background: rgb(68, 65, 65);
    font-size: 13px;

    box-shadow: inset 5px 5px 8px 1px #444141;


} 


.card{


    background-color:#353535;
    box-shadow: inset 5px 5px 8px 1px #444141;
    border-radius: 10px;

}

.card-body{
    background-color:#353535;
    box-shadow: inset 5px 5px 8px 1px #444141;
 
 }