.form-control {
    width: 20rem;
    font-size: 0.5rem;
    font-weight: 200;
    line-height: 1.5;
    color: #858796;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // border-radius: 0.35rem;
    // transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}