<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">

</head>
<body>

<form action="/action_page.php">
  <div class="container">
<img src="logo.png" alt="logo"  width="190" height="190"> 
    <h1>Sign Up</h1>

    <label for="email"><b>Full name</b></label>
    <input type="text" placeholder="Enter your full name" name="fullname" id="fullname" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter your Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter a Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Confirm Password</b></label>
    <input type="password" placeholder="Coreate a Password" name="psw-repeat" id="psw-repeat" required>

    <button type="submit" class="registerbtn">Sign Up</button>
    <p>Already have an account? <a href="#">Sign in</a>.</p>

  </div>
  
 <!--<div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div> -->
</form>

</body>
</html>