

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Welcome</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
      <div class="card">
        <div class="icon">
          <i class="bi bi-info-circle-fill"></i>
        </div>
          <div class="img">
            <img src="img.png" alt="" width="170" height="180" alt="Image Sample">
          </div>
          <p class="h1" style="color:F7970A" text-size="13" class="test">CHOOSE YOUR DESTINATION</p> 
         <br>
          <p style="font-size: 13px;text-align: center;color: rgb(255,255,255);">Decide how you are going to travel, where you are travelling to and from,and when you are travelling.</p>
          <br>
               <p class="h2" style="color:F7970A">CHOOSE YOUR TICKET</p>
               <br>
               <p   class ="p2"style="font-size: 13px;text-align: center;color: rgb(255,255,255);">We have different ticket options available so 
                that you can plan and save on your travel costs.
              </p>
              <br>
              <p  class="h3" style="color:F7970A">USE OUR ACCOUNT PROVIDED</p>
              <br>
              <p  class =""style="font-size: 13px;text-align: center;color: rgb(255,255,255);">Use the company account to transfer your ticket money using the ticket number as reference.</p>
              <br>
              <p  class="h4" style="color:F7970A">DOWNLOAD YOUR TICKET</p>
              <br>
              <p   class ="" style="font-size: 13px;text-align: center;color: rgb(255,255,255);">The download button will be enabled soon as you upload proof of payment so that you can download the ticket from the app. </p>
               <br>
               <button (click)="" class="cta-btn   routerLink='/register'">GET STARTED</button>
       </div>
    </body>
    </html>
    
    
    