<div style="background: url(&quot;assets/img/pexels-luis-quintero-1494582.jpg&quot;) left / cover no-repeat;height: 750px;position: relative;">
    <div class="d-flex justify-content-center align-items-center" style="height: inherit;min-height: initial;width: 100%;position: absolute;left: 0;background: rgba(34,35,37,0.92);"></div>
    <div class="container">
        <section class="position-relative py-4 py-xl-5">
            <p style="text-align: right;"><a href="#myModal" data-bs-target="#myModal" data-bs-toggle="modal"><i class="icon ion-information-circled" style="color: rgb(247,153,3);margin-right: 10px;font-size: 21px;"></i></a></p>
            <div class="container">
                <div class="row mb-5">
                    <div class="col text-center" style="margin-top: 35px;"><img src="assets/img/eticketlogo.png" style="height: 52px;"></div>
                </div>
            </div>
            <p style="font-size: 14px;color: rgb(247,153,3);text-align: center;">CHOOSE YOUR DESTINATION</p>
            <p style="font-size: 13px;text-align: center;line-height: 18px;color: rgb(255,255,255);">Decide how you are going to travel, where <br>you are travelling to and from, and when <br>you are travelling.</p>
            <p style="color: rgb(247,153,3);text-align: center;font-size: 14px;">CHOOSE YOUR TICKET</p>
            <p style="font-size: 13px;text-align: center;color: rgb(255,255,255);">We have different ticket options available <br>so that you can plan and save on your <br>travel costs.</p>
            <p style="text-align: center;font-size: 14px;color: rgb(247,153,3);">USE OUR ACCOUNT PROVIDED</p>
            <p style="font-size: 13px;text-align: center;color: rgb(255,255,255);">Use the company account to transfer <br>your ticket money using the ticket <br>number as reference.</p>
            <p style="font-size: 14px;color: rgb(247,153,3);text-align: center;"></p>
            <div class="mb-3" style="padding-top: 10px;margin-right: 20px;margin-left: 20px;"><a class="btn btn-lg text-uppercase shadow-lg d-block w-100" role="button" routerLink='/register' style="background: #F7970A;color: rgb(255,255,255);font-size: 20px;border-radius: 10px;padding-top: 15px;padding-bottom: 15px;">get Started&nbsp;<i class="fas fa-long-arrow-alt-right"></i></a></div>
        </section>
    </div>
</div>
