<nav class="navbar navbar-light bg-light">
    <div class="container-fluid ">
      <div class="dropdown" style="color: rgb(246,152,4)">
        <button class="btn btn-secondary dropdown-toggle" style="color: rgb(246,152,4)" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars" style="color: rgb(246,152,4)"  ></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <div class="col text-center" style="margin-top: 35px;"><img src="assets/img/eticketlogo.png" style="height: 52px;"></div>
          <li><a class="dropdown-item" href="#">Dashboard</a></li>
          <li><a class="dropdown-item" href="#">Passengers</a></li>
          <li><a class="dropdown-item" href="#">Complains</a></li>
          <li><a class="dropdown-item" href="#">Master Wallet</a></li>
          <li><a class="dropdown-item" href="#">Payments</a></li>
          <li><a class="dropdown-item" href="#">SignOut</a></li>
        </ul>
      </div>    
    </div>
  </nav>
  
       



