<!-- <div class="col-3">
    <div *ngIf="user">

            <form >
             
                <div>
                    <label>fullname:</label>
                    <input [(ngModel)]="user.fullname" name="fullname" id="name" placeholder="update" required/>
                </div>
            
                <button type="submit" (click)="updateProfile()" id="save" >Save</button>
                 <button (click)="cancel()" id="cancel">Cancel</button> 
            </form>

    </div>
    <button class="btn shadow-lg float-end" type="button" style="background: #f79809;">
        <i class="fas fa-pen text-white"></i>
    </button>
</div> -->
<div class="container my-5">

    <div class="header">
        <h3 class="pt-4">Update Your Fullname</h3>
      </div>

    <div class="col-7" style="text-align: left;">
        <p style="color: rgb(247,152,9);margin-top: 3px;"><strong>{{user.fullname}}</strong></p>
    </div>
    
    <form [formGroup]="profForm" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" class="text-center" method="post" >

        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="fullname">fullname:</label>
              <input 
                  formControlName="fullname"
                  id="fullname" 
                  type="text" 
                  class="form-control">
            </div>
        </div>

        <div class=" text-center mt-5 " >
            <div class="mb-3 col-auto">
              <button type="submit"  class=" submit btn btn-primary" > SUBMIT</button> 
            </div>

            <div class="mb-3 col-auto">
              <a routerLink="/p-profile" class="submit btn btn-primary justify-content-end">Back</a>
            </div>
        </div>
    </form>
   

 </div>


