<body id="page-top" >
    <div id="wrapper">

<!--navbar side-->
<app-sidemenu></app-sidemenu>
      <!---side bar -->


        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background-color: #303030;">
<app-topnav></app-topnav>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0" style="font-size: 15px;color: rgb(255,255,255);">Complaint</h3>
          <!-----passenger category-->
          <app-filter></app-filter>
          <!-------------------------->
    </div>
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0" style="font-size: 15px;color: rgb(255,255,255);">Monthly</h3> 
       
    </div>
    <div class="row" >
        <h3 class="mb-0" style="font-size: 15px;color: rgb(255,255,255);">Complaint List</h3>
    </div>

</div> 

</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
</div>
   
</body>
